<!-- <h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>
<%= @words %> -->

<h1>Result</h1>

<p><%= @word %></p>

<% if !@chars.all? { |char| @letters.include?(char) } %>
  <% @message = "Sorry but #{@word} can't be built" %>
<% elsif @chars.all? { |char| @letters.include?(char) } && !@english %>
  <% @message = "Sorry but #{@word} doesn't seem to be a valid english word" %>
<% elsif @chars.all? { |char| @letters.include?(char) && @chars.count(char) <= @letters.count(char) } %>
  <% @message = "Congratulations, #{@word} is a valid english word" %>
<% else  %>
  <% @message = "unexpected scenario" %>
<% end %>
<p><%= @message %></p>

<%= link_to "Play Again", new_path %>
